body { 
	padding: 20px;
	text-align: center;
	background-color: #1e81b0

}

#ceva {
 margin -top: 10 px;
 height : 50 px;
 width : 50 px;
 background - color : #5 b9aff ;
 color : #fff ;
 text - align : center ;
 line - height : 50 px;
 font - size : 20 px;
 border : 0px;
 }